.formCont {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
}

.field {
    margin-bottom: 15px;
}

.label {
    text-align: left;
}

.errorMessage {
    color: red;
}